doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='shortcut icon', href='/images/dl.ico')
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    script(type='text/javascript', src='/javascripts/highlight.min.js')
    link(rel='stylesheet', href='/stylesheets/monokai_sublime.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/davelukas.css')
    
  body
    script(type='text/javascript') hljs.initHighlightingOnLoad();
    .container.navbar.navbar-top
      .ten.columns.offset-by-two
        ul
          li 
            a(href='/') DAVE LUKAS
          li
            a(href='/about') ABOUT
          li
            a(href='/writing') WRITING
          li
            a(href='mailto:dave@davelukas.net') CONTACT

    .container

      .twelve.columns.offset-by-two
        block content
