p
 a(href='http://davelukas.net/about')
  img(src='/images/dave8-2013.jpg', style='border: 1px solid #ccc; padding: 4px; width: 100%')

h3 Dave Lukas

ul
  li
    strong Who 
    | Writer, poet, ultramarathoner, divorced Daddy, World Record Holder
  li
    strong Where 
    | Chicago Burbs
  li
    strong Working On 
    | Publishing my poetry book, Git, deploying Node, navigating the uncertainty of my next chapter
  li
    strong Hit me up 
    <a href="mailto:dave@davelukas.net"> Email </a> , <a href="http://twitter.com/davelukas"> Twitter </a>

h4 Get Updates
<form action="https://tinyletter.com/davelukas" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/davelukas', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><label for="tlemail"></label><input type="text" style="width:140px" name="email" id="tlemail" placeholder="Email Address" /><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><a href="https://tinyletter.com" target="_blank"></a></form>