
img(src='/images/dave.jpg', width='100%', class='profile')

h3 Dave Lukas

p ##Who## Writer, poet, ultramarathoner, divorced Daddy

p ##Where## Chicago Burbs

p ##Working On## Git, git committing, deploying Node, vibing

p ##Hit me up## a href(dave@davelukas.net;)