div.grayer {
	color: #666;
}
.frame {
	float: left;
	margin-right: 1em;
	margin-bottom: .5em;
	padding: 4px;
	box-shadow: 1px 3px 3px #ddd;
}
.navbar {
  background: #313131;
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding-top: 7px;
  padding-bottom: 7px;
  box-shadow: 1px 3px 3px #ff9900;
}
p {
  color: #333;
  font-size: 1.2em;
  font-family: Georgia;
  line-height: 1.6em;
}
h1,
h2,
h3,
h4,
h5 {
  color: #333;
}